#nav1{
	background-color: #333333;
	width: 1282px;
	height: 60px;
	position: relative;
}
body{
	width:1282px;
	background-color: #DEDEDE;
}
.img1{
width: 100px;
height: 35px;
}

.ul1 li{
	float: right;
	width: 110px;
	color: white;
	}

.ul1{
	position: absolute;
	right: 15px;
	top: 20px;
	letter-spacing: 3px;

}

#div1{
	background-color: #ffffff;
	margin:  30px 30px;
	border: 2px #848484 solid;
}

#div1 .h21{
	color: #7c7072;
	padding-top: 15px;

}

#div1 .h22{
	color: #D2D3C1;
	padding-top: 15px;

}

*{
	margin:0px;
	padding: 0px;
}

#div1 .h11{
	padding-top: 15px;

}
#div12{
	padding-top: 15px;

}
#ul1{
	list-style: none;
	line-height: 35px;

}
#div2{
		background-color: #ffffff;
	margin:  30px 30px;
	border: 2px #848484 solid;
}
#div0{
	padding: 15px 15px 30px;

}
#div21{
	margin: 30px 15px 30px;
}
#div2 .h221{
	color: #7c7072;
	padding-top: 15px;

}

#div2 .h222{
	color: #D2D3C1;
	padding-top: 15px;

}



#div2 .h211{
	padding-top: 15px;
}

#div3{
	background-color: #ffffff;
	margin:  30px 30px;
	border: 2px #848484 solid;

}
#div4{
	background-color: #ffffff;
	margin:  30px 30px;
	border: 2px #848484 solid;
	

}
#div5{
	background-color: #ffffff;
	margin:  30px 30px;
	border: 2px #848484 solid;

}
.div31{
	margin-top: 30px;
	margin-left: 30px;
}
#div4 .h321{
	color: #7c7072;
	padding-top: 15px;

}

#div4 .h322{
	color: #D2D3C1;
	padding-top: 15px;
	padding-bottom: 25px;

}



#div4 .h311{
	padding-top: 15px;
	padding-bottom: 15px;

}
.ol1{
	line-height: 25px;
	
	padding-left: 50px;
	padding-bottom: 35px;
}
#table1{
width: 1100px;
margin: 0px auto;
border:1px solid #999999;
margin-bottom: 30px;

}
#footer1{
	color: white;
	background-color: black;
	height: 50px;
	text-align: center;
	font-size: 5px;
	padding-top: 20px;
}
.form1{
	margin-left: 350px;
	font-family: SimSun;
	font-size: 10px;

}
#div41{
	padding-top: 10px;
	padding-bottom: 10px;
}
#div42{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 25px;
}
#div43{
	padding-top: 10px;
	padding-bottom: 10px;
}
#div44{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 60px;
}
#div45{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 60px;
}
#div46{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 40px;
}
#div47{
	
}
.button2{
	background: rgb(28, 99, 221);
line-height: 3em;
border-radius: 5px;
border: 0;
outline: none;
color: #fff;
width: 100%
}